name: Web Scrapper Runner Test

on:
  schedule:
    - cron: '0 23 * * *'
  workflow_dispatch:

jobs:
  run-daily-script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install backend dependencies
        working-directory: backend
        run: npm ci

      - name: Determine script to run
        id: pick
        run: |
          DAY=$(TZ="Asia/Seoul" date +%u)

          case "$DAY" in
            1)
              SCRIPTS="backend/scrappers/spainScrapper.js backend/scrappers/kyoboScrapper.js"
              ;;
            2)
              SCRIPTS="backend/scrappers/usScrapper.js"
              ;;
            3)
              SCRIPTS="backend/scrappers/japanScrapper2.js backend/scrappers/taiwanScrapper.js"
              ;;
            4)
              SCRIPTS="backend/scrappers/ukScrapper.js"
              ;;
            5)
              SCRIPTS="backend/scrappers/chinaScrapper.js"
              ;;
            6)
              SCRIPTS="backend/scrappers/taiwanScrapper.js"
              ;;
            7)
              SCRIPTS="backend/scrappers/franceScrapper.js"
              ;;
          esac

          echo "SCRIPTS=$SCRIPTS" >> $GITHUB_OUTPUT
          echo "Running scripts: $SCRIPTS"

      - name: Run the day-specific scraper(s)
        env:
          GOOGLE_SERVICE_ACCOUNT_KEY: ${{ secrets.GOOGLE_SERVICE_ACCOUNT_KEY }}
        run: |
          for script in ${{ steps.pick.outputs.SCRIPTS }}; do
            node $script
          done

      - name: Upload results to Google
        env:
          GOOGLE_SERVICE_ACCOUNT_KEY: ${{ secrets.GOOGLE_SERVICE_ACCOUNT_KEY }}
        run: node backend/uploadToGoogle.js
